@model IEnumerable<MyRecipes.Models.Dish>
@{
    ViewData["Title"] = "Recipes";
}

<div class="container mt-5">
    <h1 class="mb-4">Recipes</h1>
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_CategoryFilterPartial", ViewBag.Categories as IEnumerable<MyRecipes.Models.Category>)
        </div>
        <div class="col-md-9">
    <div class="list-group">
        @foreach (var dish in Model)
        {
            <div class="list-group-item">
                <a asp-action="Details" asp-route-id="@dish.Id"><h5 class="mb-2">@dish.DishName</h5></a>
                <p class="mb-2">@dish.DishDescription</p>
                <p>
                    <small class="text-muted">Categories:</small>
                    @foreach (var dishCategory in dish.DishCategories)
                    {
                        <span class="badge badge-primary text-black">@dishCategory.Category.CategoryName</span>
                    }
                </p>
            </div>
            <hr class="my-4" style="border-color: #ddd;">
        }
    </div>
</div>